.vscode/**
.vscode-test/**
src/**/*.ts
!src/data/**
out/**/*.map
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/.bin/**
**/tsconfig.json
**/*.tsbuildinfo
scripts/**
.gitignore
.eslintrc.json
**/.DS_Store
*.vsix
SOUND_DESIGNER_*.md
ugen_manifests/**/*.ts
